@mixin white-space($device: '')
    %#{$device}wrap
        white-space: normal
    %#{$device}no-wrap
        white-space: nowrap
    %#{$device}pre
        white-space: pre
    %#{$device}pre-line
        white-space: pre-line
    %#{$device}pre-wrap
        white-space: pre-wrap

    @if $classes
        .#{$device}wrap
            @extend %#{$device}wrap
        .#{$device}no-wrap
            @extend %#{$device}no-wrap
        .#{$device}pre
            @extend %#{$device}pre
        .#{$device}pre-line
            @extend %#{$device}pre-line
        .#{$device}pre-wrap
            @extend %#{$device}pre-wrap

@include white-space
@each $device, $pixels in $devices
    @media (min-width: #{$pixels}px)
        @include white-space($device+"-")