$class-left: left !default;
$class-right: right !default;
$class-top: top !default;
$class-bottom: bottom !default;
$class-vertical: vertical !default;
$class-horizontal: horizontal !default;

$class-middle: middle !default;
$class-center: center !default;

$padding-class: padding !default;
$padding: (tiny: 6px, small: 12px, default: 18px, large: 24px, none: 0) !default;

$margin-class: margin !default;
$margin: (tiny: 6px, small: 12px, default: 18px, large: 24px, none: 0) !default;

$border-class: border !default;
$border-width: 1px !default;
$border-style: solid !default;
$border-colour: #cccccc !default;
