$white: #ffffff !default;
$black: #000000 !default;
$red: #990000 !default;
$green: #009900 !default;
$blue: #000099 !default;
$yellow: #999900 !default;
$cyan: #009999 !default;
$magenta: #990099 !default;
$grey: #666666 !default;
$darkgrey: #333333 !default;
$lightgrey: #999999 !default;
$whitegrey: #eeeeee !default;
$whitesmoke: #f5f5f5 !default;
$inherit: inherit;

$colours: ("transparent": "transparent", "white": $white, "black": $black, "red": $red, "green": $green, "blue": $blue, "yellow": $yellow, "cyan": $cyan, "magenta": $magenta, "grey": $grey, "darkgrey": $darkgrey, "lightgrey": $lightgrey, "whitegrey": $whitegrey, "whitesmoke": $whitesmoke, "inherit": $inherit) !default;

@if variable-exists(siteColours) {
    $colours: map-merge($colours, $siteColours);
}

$primary-colour: map-get($colours, "darkgrey") !default;
