$button-background-colour: $primary-colour
$button-text-colour: map-get($colours, white)
$button-border: 1px solid $primary-colour
$button-padding: map-get($padding, small)

$button-background-colour-hover: darken($button-background-colour, 10)
$button-text-colour-hover: darken($button-text-colour, 10)
$button-border-hover: 1px solid darken($primary-colour, 10)

$field-background-colour: map-get($colours, whitesmoke)
$field-text-colour: map-get($colours, darkgrey)
$field-border: 1px solid map-get($colours, lightgrey)
$field-padding: map-get($padding, tiny)
$field-width: 100%

$label-display: block