@mixin appearance($device: "") {
    %#{$device}appearance-none {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    @if $classes {
        .#{$device}appearance-none {
            @extend %#{$device}appearance-none;
        }
    }
}

@include appearance;

@each $device, $pixels in $devices {
    @include media($device) {
        @include appearance($device + "-");
    }
}

@include mobile {
    @include appearance("mobile-");
}
