.input,
%input,
.textarea,
%textarea,
.select,
%select
    background-color: $field-background-colour
    color: $field-text-colour
    border: $field-border
    padding: $field-padding
    width: $field-width