@mixin display($device: '')
    %#{$device}hide
        display: none
    %#{$device}block
        display: block
    %#{$device}inline-block
        display: inline-block
    %#{$device}inline
        display: inline

    @if $classes
        .#{$device}hide
            @extend %#{$device}hide
        .#{$device}block
            @extend %#{$device}block
        .#{$device}inline-block
            @extend %#{$device}inline-block
        .#{$device}inline
            @extend %#{$device}inline

@include display
@each $device, $pixels in $devices
    @include media($device)
        @include display($device+"-")
@include mobile
    @include display("mobile-")