@mixin list($device: "") {
  %#{$device}not-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @if $classes {
    .#{$device}not-list {
      @extend %#{$device}not-list;
    }
  }
}

@include list;

@each $device, $pixels in $devices {
  @include media($device) {
    @include list($device + "-");
  }
}

@include mobile {
  @include list("mobile-");
}
