@mixin clearfix($device: '')
    .#{$device}clearfix,
    %#{$device}clearfix
        &:after,
        &:before
            content: ' '
            display: table
        &:after
            clear: both

@mixin clear($device: '')
    .#{$device}clear,
    %#{$device}clear
        clear: both
    .#{$device}clear-left,
    %#{$device}clear-left
        clear: left
    .#{$device}clear-right,
    %#{$device}clear-right
        clear: right

@include clear
@include clearfix
@each $device, $pixels in $devices
    @media (min-width: #{$pixels}px)
        @include clear($device+"-")
        @include clearfix($device+"-")