.flex,
%flex
    display: flex
    flex-wrap: wrap

.flex-start,
%flex-start
    align-items: flex-start

.flex-end,
%flex-end
    align-items: flex-end

.flex-center,
%flex-center
    align-items: center

.flex-stretch,
%flex-stretch
    align-items: stretch

.flex-fill,
%flex-fill
    > *
        flex-grow: 1