@mixin edge-flex($device: '')
    .#{$device}flex,
    %#{$device}flex
        display: flex
        flex-wrap: wrap

    .#{$device}flex-start,
    %#{$device}flex-start
        align-items: flex-start

    .#{$device}flex-end,
    %#{$device}flex-end
        align-items: flex-end

    .#{$device}flex-center,
    %#{$device}flex-center
        align-items: center

    .#{$device}flex-stretch,
    %#{$device}flex-stretch
        align-items: stretch

    .#{$device}flex-fill,
    %#{$device}flex-fill
        > *
            flex-grow: 1

@include edge-flex
@each $device, $pixels in $devices
    @media (min-width: #{$pixels}px)
        @include edge-flex($device+"-")